body {
    margin: 0;
}

.content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 40px 40px 0 0;
}

.top-shape {
    background-color: white;
    height: 50px;
    border-radius: 40px 40px 0 0;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.middle-shape {
    background-color: white;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0;
    border-radius: 0;
    min-height: 100%;
    height: calc(100vh - 252px);
    overflow-y: visible;
    overflow-x: hidden;
    box-shadow: none;
}

.nav-mobile {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-mobile .nav-mobile-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-mobile .nav-mobile-menu .back {
    background-image: url("/static/quiz/image/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.nav-mobile .nav-mobile-menu h3 {
    font-weight: 700;
}

.question-wrapper {
    position: relative;
}

.question {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.filter {
    background-image: url("/static/quiz/image/filter-square-fill.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}

.rotated {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.rotated.open {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

.bottom-shape {
    /* height: 100px; */
    background-color: white;
}

.bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border: 0;
}

.offcanvas {
    width: 60% !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.offcanvas-header {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.offcanvas-end {
    border-left: 0 !important;
    border-radius: 40px 0px 0px 40px;
}

.filter-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
}

.filter-menu .filter-option .option-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.choices .choice-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
    flex-wrap: nowrap;
}

.choice-wrapper .option-label {
    overflow-wrap: break-word;
    min-width: 100px;
}

.btn {
    border-radius: 20px;
}

.btn-choice {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-weight: 500;
    flex-shrink: 0;
}

/* .btn-check:active+.btn-choice, */
.btn-check:checked+.btn-choice {
    background-color: black;
    color: white;
}

.btn-shuffle {
    background-image: url("/static/quiz/image/shuffle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}

.btn-shuffle:active,
.btn-shuffle:focus {
    background-image: url("/static/quiz/image/arrow-clockwise-active.svg");
}

.btn-stop {
    background-image: url("/static/quiz/image/x-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}

.btn-stop:active,
.btn-stop:focus {
    background-image: url("/static/quiz/image/x-circle-fill.svg");
}

.btn-solution {
    background-image: url("/static/quiz/image/lightbulb.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}

.btn-solution:active,
.btn-solution:focus {
    background-image: url("/static/quiz/image/lightbulb-fill.svg");
}

.rotated360 {
    transform: rotate(360deg);
    transition: all 0.5s;
}

.fliped {
    transform: rotateY(180deg);
    transition: all 0.5s;
}

.btn-submit,
.btn-lanjut,
.btn-selesai {
    flex-grow: 1;
}

.btn.btn-stop,
.btn.btn-shuffle,
.btn.btn-solution {
    border: 0px !important;
}

.progress {
    height: 10px;
}

.progress .progress-bar {
    width: 0%;
}

.hidden {
    visibility: hidden;
    display: none;
}

.solution {
    position: absolute;
    max-width: 768px;
    max-height: 600px;
    width: 100%;
    height: 60vh;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0 0 40px 40px;
}

.solution.open {
    top: 0;
    transition: top 0.3s linear;
}

.solution.close {
    top: -600px;
    overflow: hidden;
    transition: top 0.3s linear;
}

.solution-wrapper .solution-content {
    background-color: whitesmoke;
    position: absolute;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: auto;
    width: 100%;
    max-height: calc(60vh - 50px);
    height: calc(100vh - 50px);
    z-index: 9999;
}

.solution-wrapper .solution-close {
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-radius: 0 0 40px 40px;
    z-index: 9999;
}

.alert.alert-success,
.alert.alert-warning,
.alert.alert-danger {
    border: none !important;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.alert.alert-success {
    background-color: #36AE7C;
}

.alert.alert-warning {
    background-color: #F9D923;
}

.alert.alert-danger {
    background-color: #EB5353;
}

.solution-close .solution-close-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }

    .offcanvas {
        width: 25% !important;
    }
}

@media (min-width: 576px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

ol,
ul.icon {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

ol li,
ul.icon li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}

ol li::before {
    display: inline-block;
    content: "(" counter(item) ") ";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
}

ol.alpha li::before {
    display: inline-block;
    content: "(" counter(item, lower-alpha) ") ";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
}

ul.icon li::before {
    display: inline-block;
    content: attr(data-icon);
    width: 2em;
    margin-left: -2em;
}