body {
    margin: 0;
}

.content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 40px 40px 0 0;
}

.top-shape {
    background-color: white;
    height: 70px;
    border-radius: 40px 40px 0 0;
    padding: 20px;
}

.middle-shape {
    background-color: white;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0;
    border-radius: 0;
    min-height: 100%;
    height: calc(100vh - 272px);
    overflow-y: visible;
    overflow-x: hidden;
    box-shadow: none;
}

.nav-mobile {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-mobile .nav-mobile-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-mobile .nav-mobile-menu .back {
    background-image: url("/static/quiz/image/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.nav-mobile .nav-mobile-menu h3 {
    font-weight: 700;
}

.bottom-shape {
    height: 100px;
    background-color: white;
}

.bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    border: 0;
    align-items: center;
}

.btn {
    border-radius: 20px;
}

.result-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem;
}

.result-banner {
    background-image: url("/static/quiz/image/banner.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 250px;
    min-height: 250px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.alert.alert-primary {
    border: none !important;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    background-color: #0d6efd;
    text-align: center;
}

.detail {
    background-color: #dadada;
    border-radius: 20px;
    padding: 1rem;
}

h6.humble {
    color: rgba(0, 0, 0, 0.6);
}

h5.strong {
    font-weight: bold;
    letter-spacing: 1px;
}
.btn.btn-reset,
.btn.btn-next {
    border: 0px !important;
}
.btn-reset {
    background-image: url("/static/quiz/image/arrow-clockwise.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
}

.btn-reset:active,
.btn-reset:focus {
    background-image: url("/static/quiz/image/arrow-clockwise-active.svg");
}
.btn.btn-outline-dark{
    flex-grow: 1;
    /* visibility: hidden; */
    /* display: none; */
}
.rotated360 {
    transform: rotate(360deg);
    transition: all 0.5s;
}
.hidden {
    visibility: hidden;
    display: none;
}
@media (min-width: 768px) {
    
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 576px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}