@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    margin: 0;
}

.nav-mobile {
    visibility: visible;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-mobile .nav-mobile-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-mobile .nav-mobile-menu .back {
    font-size: 1.5rem;
    color: black;
}

.nav-mobile .nav-mobile-menu h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 40px 40px 0 0;
}

.top-shape {
    position: relative;
    background-color: white;
    max-width: 768px;
    width: 100%;
    height: 70px;
    border-radius: 40px 40px 0 0;
    padding: 20px;
}

.middle-shape {
    position: relative;
    background-color: white;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0;
    border-radius: 0;
    max-width: 768px;
    width: 100%;
    min-height: 100%;
    height: calc(100vh - 270px);
    overflow-y: visible;
    overflow-x: hidden;
    box-shadow: none;
}

.bottom-shape {
    position: fixed;
    bottom: 0;
    max-width: 768px;
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: solid 1px #dadada;
}

.bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 20px;
    border: 0;
    align-items: center;
}

.btn {
    border-radius: 20px;
}

.result-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem;
}

.result-banner {
    background-image: url("/static/quiz/image/banner.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 250px;
    min-height: 250px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.alert.alert-primary {
    border: none !important;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    background-color: #0d6efd;
    text-align: center;
}

.detail {
    background-color: #dadada;
    border-radius: 20px;
    padding: 1rem;
}

h6.humble {
    color: rgba(0, 0, 0, 0.6);
}

h5.strong {
    font-weight: bold;
    letter-spacing: 1px;
}

.btn.btn-reset,
.btn.btn-next {
    border: 0px !important;
}

.btn-reset{
    font-size: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.bi.bi-arrow-clockwise:active,
.bi.bi-arrow-clockwise:focus {
    color: black;
}

.btn.btn-outline-dark {
    flex-grow: 1;
    font-weight: 700;
}

.rotated360 {
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden;
    display: none;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 576px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}